@{
    ViewData["Title"] = "Get Cached Time";
}

<h2>Cached Time</h2>

<p>The cached time is: @ViewBag.CachedTime</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
