@model practical7.Models.ErrorViewModel

<div class="text-danger">
    <h1 class="display-4">Error.</h1>
    <h3 class="text-danger">An error occurred while processing your request.</h3>
    <p>
        Request ID: <code>@Model.RequestId</code>
    </p>
    <p>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </p>
</div>
