@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Message from ViewData: @ViewData["Message"]</p>
<p>Message from ViewBag: @ViewBag.Message</p>

<p><a href="/Home/About">Go to About Page</a></p>
