@*
  Note: This file is under the Views/Home directory.
*@
@{
    ViewData["Title"] = "Practical 3";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Greeting"]</h1>
</div>
