@{
    ViewData["Title"] = "MyView";
}

<h2>Asha M. Tarsadia Institute of Computer Science and Technology (AMTICs)</h2>
<p>
    Asha M. Tarsadia Institute of Computer Science and Technology (AMTICs) is a constituent institute of Uka Tarsadia University, Maliba-Campus. AMTICs is established with a mission to persistently impart skill-based industry oriented technical education in the areas of Computer Science and Technology. The institute is committed to provide an open platform for diverse voices where the teaching-learning process is parallel to real-world applications. The student gets nurtured under well-experienced academicians, researchers, and industry experts who are dynamically involved and committed to tackle cutting-edge societal and technological problems around the globe.
</p>