@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Greeting"]</h1>
    <img src="~/images/@ViewData["Image"]" alt="Greeting Image" style="max-width: 100%; height: auto;" />
</div>
